[submodule "XExtractor"]
	path = XExtractor
	url = https://github.com/horsicq/XExtractor
[submodule "XScanEngine"]
	path = XScanEngine
	url = https://github.com/horsicq/XScanEngine
[submodule "XDisasmCore"]
	path = XDisasmCore
	url = https://github.com/horsicq/XDisasmCore.git
[submodule "XRegionsWidget"]
	path = XRegionsWidget
	url = https://github.com/horsicq/XRegionsWidget.git
